* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222733;
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
    justify-content: center;
    text-align: center;
    color: #DBE8D4;
}

body._lock {
    overflow: hidden;
}

button {
    background-color: #525e65;
    color: #DBE8D4;
    height: 2em;
    margin: auto;
    width: 6em;
    border-radius: 15px;
    border-style: none;
    font-family: "Josefin Sans", sans-serif;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

button:active {
    background-color: #DBE8D4;
    color: #222733;
}

h2 {
    margin: 1em;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.125em;
}

header {
    align-items: center;
    background-color: #2e3445;
    height: 15em;
    justify-content: space-between;
    text-align: center;
    padding-top: 100px;
    overflow: hidden;
    width: 100%;
    border-radius: 0 0 100% 100%;
    margin-top: -130px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

li, a {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #DBE8D4;
}

nav {
    background-color: #525e65;
    justify-content: center;
    position: fixed;
    height: 3em;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

nav > ul {
    list-style: none;
}

a {
    color: #73CCA8;
    text-decoration: none;
    cursor: pointer;
}

p {
    margin: 1em 0;
    line-height: 1.5;
    padding: 0 30px;
}

footer {
    width: 100%;
    height: 130px;
    border-radius: 100% 100% 0 0;
    background-color: #2E3445;
    overflow: hidden;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

section {
    font-size: 1.2rem;
    margin: -40px auto auto;
    width: 30rem;
    padding-top: 40px;
}

#about p {
    text-align: left;
}

#portfolio p {
    padding-bottom: 1em;
}

.window {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: hidden;
    animation: show-window 3s;

}

.popup-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 30px 10px;
}

.popup-content {
    background-color: #222733;
    color: #DBE8D4;
    max-width: 800px;
    border-radius: 50px;
    padding: 30px 10px;
}

.container {
    margin: 2em auto;
}

.example {
    border-radius: 3em;
    min-width: 400px;
    width: 50%;
}

.contact {
    width: 10%;
}

.logo {
    width: 3em;
}

.hamburger {
    display: none;
}

.nav__links li {
    display: inline-block;
    border-style: hidden;
    height: 3rem;
    list-style: none;
    padding: 0 20px;
}

.contact {
    justify-content: center;
}

.contact__links li {
    display: inline-block;
    border-style: hidden;
    padding: 0 20px;
    list-style: none;
}

.contact__links a {
    display: block;
    width: 1.5em;
    height: 1.5em;
    color: #222733;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    background-color: #DBE8D4;
    border-radius: 50%;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    margin-bottom: 0.5em;
}

.contact__links a:hover {
    border-style: none;
}

.fab {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-github-alt:before {
    content: "\f113";
}

.fa-facebook-f:before {
    content: "\f09a";
}

.fa-instagram:before {
    content: "\f16d";
}

.nav__links a {
    color: #DBE8D4;
    line-height: 3em;
}

.nav__links li a:hover, a:hover, a:focus {
    border-bottom: 4px solid #73CCA8;
    color: #73CCA8;
}

#site_header {
    margin: auto;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    font-size: 5rem;
    font-style: normal;
    letter-spacing: 0.125em;
    padding-top: 11vh;
}

#portfolio, #contacts {
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

#about > img {
    height: auto;
    width: 150px;
}

@media (min-width: 900px) {

}

@media screen and (max-width: 899px) {
    #site_header {
        padding-top: 4rem;
        font-size: 9vw;
    }

    .hamburger {
        z-index: 5;
        display: inline-block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        top: 55px;
        right: 30px;
        float: right;
    }

    .hamburger span,
    .hamburger::before,
    .hamburger::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #DBE8D4;
    }

    .hamburger::before,
    .hamburger::after {
        content: "";
    }

    .hamburger::before {
        top: 0;
    }

    .hamburger::after {
        bottom: 0;
    }

    .hamburger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .hamburger._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .hamburger._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .hamburger._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        transform: translate(-100%, 0px);
        overflow: auto;
    }

    .menu__body._active {
        left: 100%;
    }

    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: #2e3445;
    }

    .nav__links > li {
        margin: 0 0 30px 0;
        display: block;
    }

    .nav__links a {
        font-size: 24px;
    }
}

@media (max-width: 1200px) and (min-width: 900px){
    #site_header {
        font-size: 6vw;
        padding-top: 12vh;
    }
}
