* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222733;
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
    justify-content: center;
    text-align: center;
    color: #DBE8D4;
}

h1 {
    font-weight: lighter;
    margin: auto;
    padding-top: 3em;
}

h2 {
    margin: 1em;
}

header {
    align-items: center;
    background-color: #2e3445;
    display: flex;
    height: 15em;
    justify-content: space-between;
    text-align: center;
    padding-top: 100px;
    overflow: hidden;
    width: 100%;
    border-radius: 0 0 100% 100%;
    margin-top: -130px;
}

li, a {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #DBE8D4;
}

nav {
    background-color: #525e65;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 3em;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

nav > ul {
    display: flex;
    list-style: none;
}

a {
    color: #73CCA8;
    text-decoration: none;
    cursor: pointer;
}

p {
    margin: 1em 0;
    line-height: 1.5;
}

footer {
    width:100%;
    height: 130px;
    border-radius:100% 100% 0 0 ;
    background-color: #2E3445;
    overflow: hidden;
}

section {
    font-size: 1.2rem;
    margin: 0 auto;
    width: 30rem;
}

#about p {
    text-align: left;
}

#portfolio p {
    padding-bottom: 1em;
}

.container {
    margin: 2em auto;
}

.example {
    border-radius: 3em;
    width: 50%;
}

.contact {
    width: 10%;
}

.logo {
    width: 3em;
}

.nav__links li {
    display: inline-block;
    border-style: hidden;
    height: 3rem;
    padding: 0 20px;
}

.nav__links a {
    color: #DBE8D4;
    line-height: 3em;
}

.nav__links li a:hover,a:hover,a:focus {
    border-bottom: 4px solid #73CCA8;
    color: #73CCA8;
}

#portfolio {
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

#about > img {
    height: 100%;
    width: 150px;
}